/*
 * scratchblocks2
 * http://github.com/blob8108/scratchblocks2
 *
 * Copyright 2013, Tim Radvan
 * MIT Licensed
 * http://opensource.org/licenses/MIT
 *
 * *****************************************************************************
 *
 * Requires the files:
 *
 *   - arrows.png
 *   - flag.png
 *
 * in the block_images/ directory, in the same folder as this file.
 *
 */
/*
    bg:    background colour for entire block
    btop:  top border for entire block
    bbot:  bottom border for entire block
    itop:  top border for inserts (eg. dropdown menus)
    ibot:  bottom border for inserts (eg. dropdown menus)
    inset: background colour for dropdown menus
    arrow: colour of the "▼" dropdown arrow
*/
.box-sizing_content-box {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.sb2 {
  font-family: "Lucida Grande", Verdana, Arial, "DejaVu Sans", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  margin: 10px 0;
  padding: 0 2px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  display: block;
  z-index: 100;
}
.sb2 *,
.sb2 *:before,
.sb2 *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.sb2:after {
  content: "";
  display: block;
  clear: both;
}
.sb2 .obsolete.stack:before,
.sb2 .obsolete.cap:before {
  border-color: #971c1c #da4646 #da4646 #971c1c;
}
.sb2 .obsolete.cmouth:before,
.sb2 .obsolete.hat,
.sb2 .obsolete.hat:before,
.sb2 .obsolete.define-hat,
.sb2 .obsolete.stack,
.sb2 .obsolete.cap,
.sb2 .obsolete.boolean,
.sb2 .obsolete.reporter,
.sb2 .obsolete.embedded,
.sb2 .obsolete.variable-reporter,
.sb2 .obsolete.custom-arg,
.sb2 .obsolete.outline {
  background-color: #d42828;
  border-color: #da4646 #971c1c #971c1c #da4646;
}
.sb2 .obsolete > .dropdown,
.sb2 .obsolete > .boolean.empty,
.sb2 .obsolete > .color {
  background: #c32525;
  border-color: #96191c #ec2e34 #ec2e34 #96191c;
}
.sb2 .obsolete > .dropdown:after,
.sb2 .obsolete > .boolean.empty:after,
.sb2 .obsolete > .color:after {
  color: #5c0b0d;
}
.sb2 .obsolete > .ring-inner {
  background-color: #ffffff;
  border-color: #971c1c #da4646 #da4646 #971c1c;
}
.sb2 .obsolete > .ring-inner:before {
  border-color: #da4646 #971c1c #971c1c #da4646;
}
.sb2 .obsolete.hat:before {
  border-right-color: #da4646;
}
.sb2 .obsolete > .stack:before {
  background: #d42828;
}
.sb2 .obsolete.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .control.stack:before,
.sb2 .control.cap:before {
  border-color: #a07812 #e5b53a #e5b53a #a07812;
}
.sb2 .control.cmouth:before,
.sb2 .control.hat,
.sb2 .control.hat:before,
.sb2 .control.define-hat,
.sb2 .control.stack,
.sb2 .control.cap,
.sb2 .control.boolean,
.sb2 .control.reporter,
.sb2 .control.embedded,
.sb2 .control.variable-reporter,
.sb2 .control.custom-arg,
.sb2 .control.outline {
  background-color: #e1a91a;
  border-color: #e5b53a #a07812 #a07812 #e5b53a;
}
.sb2 .control > .dropdown,
.sb2 .control > .boolean.empty,
.sb2 .control > .color {
  background: #cf9b17;
  border-color: #7e5e0e #d4a631 #d4a631 #7e5e0e;
}
.sb2 .control > .dropdown:after,
.sb2 .control > .boolean.empty:after,
.sb2 .control > .color:after {
  color: #533e09;
}
.sb2 .control > .ring-inner {
  background-color: #ffffff;
  border-color: #a07812 #e5b53a #e5b53a #a07812;
}
.sb2 .control > .ring-inner:before {
  border-color: #e5b53a #a07812 #a07812 #e5b53a;
}
.sb2 .control.hat:before {
  border-right-color: #e5b53a;
}
.sb2 .control > .stack:before {
  background: #e1a91a;
}
.sb2 .control.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .custom.stack:before,
.sb2 .custom.cap:before {
  border-color: #46206d #794aa7 #794aa7 #46206d;
}
.sb2 .custom.cmouth:before,
.sb2 .custom.hat,
.sb2 .custom.hat:before,
.sb2 .custom.define-hat,
.sb2 .custom.stack,
.sb2 .custom.cap,
.sb2 .custom.boolean,
.sb2 .custom.reporter,
.sb2 .custom.embedded,
.sb2 .custom.variable-reporter,
.sb2 .custom.custom-arg,
.sb2 .custom.outline {
  background-color: #632d99;
  border-color: #794aa7 #46206d #46206d #794aa7;
}
.sb2 .custom > .dropdown,
.sb2 .custom > .boolean.empty,
.sb2 .custom > .color {
  background: #5b298c;
  border-color: #431e67 #70449a #70449a #431e67;
}
.sb2 .custom > .dropdown:after,
.sb2 .custom > .boolean.empty:after,
.sb2 .custom > .color:after {
  color: #1e0a38;
}
.sb2 .custom > .ring-inner {
  background-color: #ffffff;
  border-color: #46206d #794aa7 #794aa7 #46206d;
}
.sb2 .custom > .ring-inner:before {
  border-color: #794aa7 #46206d #46206d #794aa7;
}
.sb2 .custom.hat:before {
  border-right-color: #794aa7;
}
.sb2 .custom > .stack:before {
  background: #632d99;
}
.sb2 .custom.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .events.stack:before,
.sb2 .events.cap:before {
  border-color: #8e5d22 #cf944d #cf944d #8e5d22;
}
.sb2 .events.cmouth:before,
.sb2 .events.hat,
.sb2 .events.hat:before,
.sb2 .events.define-hat,
.sb2 .events.stack,
.sb2 .events.cap,
.sb2 .events.boolean,
.sb2 .events.reporter,
.sb2 .events.embedded,
.sb2 .events.variable-reporter,
.sb2 .events.custom-arg,
.sb2 .events.outline {
  background-color: #c88330;
  border-color: #cf944d #8e5d22 #8e5d22 #cf944d;
}
.sb2 .events > .dropdown,
.sb2 .events > .boolean.empty,
.sb2 .events > .color {
  background: #b8782c;
  border-color: #70491a #c59254 #c59254 #70491a;
}
.sb2 .events > .dropdown:after,
.sb2 .events > .boolean.empty:after,
.sb2 .events > .color:after {
  color: #4a3011;
}
.sb2 .events > .ring-inner {
  background-color: #ffffff;
  border-color: #8e5d22 #cf944d #cf944d #8e5d22;
}
.sb2 .events > .ring-inner:before {
  border-color: #cf944d #8e5d22 #8e5d22 #cf944d;
}
.sb2 .events.hat:before {
  border-right-color: #cf944d;
}
.sb2 .events > .stack:before {
  background: #c88330;
}
.sb2 .events.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .list.stack:before,
.sb2 .list.cap:before {
  border-color: #a74a1b #d26f3d #d26f3d #a74a1b;
}
.sb2 .list.cmouth:before,
.sb2 .list.hat,
.sb2 .list.hat:before,
.sb2 .list.define-hat,
.sb2 .list.stack,
.sb2 .list.cap,
.sb2 .list.boolean,
.sb2 .list.reporter,
.sb2 .list.embedded,
.sb2 .list.variable-reporter,
.sb2 .list.custom-arg,
.sb2 .list.outline {
  background-color: #cc5b22;
  border-color: #d26f3d #a74a1b #a74a1b #d26f3d;
}
.sb2 .list > .dropdown,
.sb2 .list > .boolean.empty,
.sb2 .list > .color {
  background: #bb531f;
  border-color: #7e3814 #c86e3f #c86e3f #7e3814;
}
.sb2 .list > .dropdown:after,
.sb2 .list > .boolean.empty:after,
.sb2 .list > .color:after {
  color: #4b210c;
}
.sb2 .list > .ring-inner {
  background-color: #ffffff;
  border-color: #a74a1b #d26f3d #d26f3d #a74a1b;
}
.sb2 .list > .ring-inner:before {
  border-color: #d26f3d #a74a1b #a74a1b #d26f3d;
}
.sb2 .list.hat:before {
  border-right-color: #d26f3d;
}
.sb2 .list > .stack:before {
  background: #cc5b22;
}
.sb2 .list.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .looks.stack:before,
.sb2 .looks.cap:before {
  border-color: #623c99 #9a6ddc #9a6ddc #623c99;
}
.sb2 .looks.cmouth:before,
.sb2 .looks.hat,
.sb2 .looks.hat:before,
.sb2 .looks.define-hat,
.sb2 .looks.stack,
.sb2 .looks.cap,
.sb2 .looks.boolean,
.sb2 .looks.reporter,
.sb2 .looks.embedded,
.sb2 .looks.variable-reporter,
.sb2 .looks.custom-arg,
.sb2 .looks.outline {
  background-color: #8a55d7;
  border-color: #9a6ddc #623c99 #623c99 #9a6ddc;
}
.sb2 .looks > .dropdown,
.sb2 .looks > .boolean.empty,
.sb2 .looks > .color {
  background: #7e4ec5;
  border-color: #4c2f78 #9670d0 #9670d0 #4c2f78;
}
.sb2 .looks > .dropdown:after,
.sb2 .looks > .boolean.empty:after,
.sb2 .looks > .color:after {
  color: #1e0a38;
}
.sb2 .looks > .ring-inner {
  background-color: #ffffff;
  border-color: #623c99 #9a6ddc #9a6ddc #623c99;
}
.sb2 .looks > .ring-inner:before {
  border-color: #9a6ddc #623c99 #623c99 #9a6ddc;
}
.sb2 .looks.hat:before {
  border-right-color: #9a6ddc;
}
.sb2 .looks > .stack:before {
  background: #8a55d7;
}
.sb2 .looks.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .motion.stack:before,
.sb2 .motion.cap:before {
  border-color: #344d97 #6380da #6380da #344d97;
}
.sb2 .motion.cmouth:before,
.sb2 .motion.hat,
.sb2 .motion.hat:before,
.sb2 .motion.define-hat,
.sb2 .motion.stack,
.sb2 .motion.cap,
.sb2 .motion.boolean,
.sb2 .motion.reporter,
.sb2 .motion.embedded,
.sb2 .motion.variable-reporter,
.sb2 .motion.custom-arg,
.sb2 .motion.outline {
  background-color: #4a6cd4;
  border-color: #6380da #344d97 #344d97 #6380da;
}
.sb2 .motion > .dropdown,
.sb2 .motion > .boolean.empty,
.sb2 .motion > .color {
  background: #4463c3;
  border-color: #293c76 #6781ce #6781ce #293c76;
}
.sb2 .motion > .dropdown:after,
.sb2 .motion > .boolean.empty:after,
.sb2 .motion > .color:after {
  color: #1b274e;
}
.sb2 .motion > .ring-inner {
  background-color: #ffffff;
  border-color: #344d97 #6380da #6380da #344d97;
}
.sb2 .motion > .ring-inner:before {
  border-color: #6380da #344d97 #344d97 #6380da;
}
.sb2 .motion.hat:before {
  border-right-color: #6380da;
}
.sb2 .motion > .stack:before {
  background: #4a6cd4;
}
.sb2 .motion.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .operators.stack:before,
.sb2 .operators.cap:before {
  border-color: #488f0e #a7ce87 #a7ce87 #488f0e;
}
.sb2 .operators.cmouth:before,
.sb2 .operators.hat,
.sb2 .operators.hat:before,
.sb2 .operators.define-hat,
.sb2 .operators.stack,
.sb2 .operators.cap,
.sb2 .operators.boolean,
.sb2 .operators.reporter,
.sb2 .operators.embedded,
.sb2 .operators.variable-reporter,
.sb2 .operators.custom-arg,
.sb2 .operators.outline {
  background-color: #5cb712;
  border-color: #a7ce87 #488f0e #488f0e #a7ce87;
}
.sb2 .operators > .dropdown,
.sb2 .operators > .boolean.empty,
.sb2 .operators > .color {
  background: #54a810;
  border-color: #336609 #74b83d #74b83d #336609;
}
.sb2 .operators > .dropdown:after,
.sb2 .operators > .boolean.empty:after,
.sb2 .operators > .color:after {
  color: #214306;
}
.sb2 .operators > .ring-inner {
  background-color: #ffffff;
  border-color: #488f0e #a7ce87 #a7ce87 #488f0e;
}
.sb2 .operators > .ring-inner:before {
  border-color: #a7ce87 #488f0e #488f0e #a7ce87;
}
.sb2 .operators.hat:before {
  border-right-color: #a7ce87;
}
.sb2 .operators > .stack:before {
  background: #5cb712;
}
.sb2 .operators.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .pen.stack:before,
.sb2 .pen.cap:before {
  border-color: #0a6e4d #30a880 #30a880 #0a6e4d;
}
.sb2 .pen.cmouth:before,
.sb2 .pen.hat,
.sb2 .pen.hat:before,
.sb2 .pen.define-hat,
.sb2 .pen.stack,
.sb2 .pen.cap,
.sb2 .pen.boolean,
.sb2 .pen.reporter,
.sb2 .pen.embedded,
.sb2 .pen.variable-reporter,
.sb2 .pen.custom-arg,
.sb2 .pen.outline {
  background-color: #0e9a6c;
  border-color: #30a880 #0a6e4d #0a6e4d #30a880;
}
.sb2 .pen > .dropdown,
.sb2 .pen > .boolean.empty,
.sb2 .pen > .color {
  background: none;
  border-color: #395b3f #62785b #62785b #395b3f;
}
.sb2 .pen > .dropdown:after,
.sb2 .pen > .boolean.empty:after,
.sb2 .pen > .color:after {
  color: none;
}
.sb2 .pen > .ring-inner {
  background-color: #ffffff;
  border-color: #0a6e4d #30a880 #30a880 #0a6e4d;
}
.sb2 .pen > .ring-inner:before {
  border-color: #30a880 #0a6e4d #0a6e4d #30a880;
}
.sb2 .pen.hat:before {
  border-right-color: #30a880;
}
.sb2 .pen > .stack:before {
  background: #0e9a6c;
}
.sb2 .pen.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .sensing.stack:before,
.sb2 .sensing.cap:before {
  border-color: #1f75a1 #49b1e6 #49b1e6 #1f75a1;
}
.sb2 .sensing.cmouth:before,
.sb2 .sensing.hat,
.sb2 .sensing.hat:before,
.sb2 .sensing.define-hat,
.sb2 .sensing.stack,
.sb2 .sensing.cap,
.sb2 .sensing.boolean,
.sb2 .sensing.reporter,
.sb2 .sensing.embedded,
.sb2 .sensing.variable-reporter,
.sb2 .sensing.custom-arg,
.sb2 .sensing.outline {
  background-color: #2ca5e2;
  border-color: #49b1e6 #1f75a1 #1f75a1 #49b1e6;
}
.sb2 .sensing > .dropdown,
.sb2 .sensing > .boolean.empty,
.sb2 .sensing > .color {
  background: #2897cf;
  border-color: #185c7e #51abd8 #51abd8 #185c7e;
}
.sb2 .sensing > .dropdown:after,
.sb2 .sensing > .boolean.empty:after,
.sb2 .sensing > .color:after {
  color: #103c53;
}
.sb2 .sensing > .ring-inner {
  background-color: #ffffff;
  border-color: #1f75a1 #49b1e6 #49b1e6 #1f75a1;
}
.sb2 .sensing > .ring-inner:before {
  border-color: #49b1e6 #1f75a1 #1f75a1 #49b1e6;
}
.sb2 .sensing.hat:before {
  border-right-color: #49b1e6;
}
.sb2 .sensing > .stack:before {
  background: #2ca5e2;
}
.sb2 .sensing.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .sound.stack:before,
.sb2 .sound.cap:before {
  border-color: #852f8b #c45ccb #c45ccb #852f8b;
}
.sb2 .sound.cmouth:before,
.sb2 .sound.hat,
.sb2 .sound.hat:before,
.sb2 .sound.define-hat,
.sb2 .sound.stack,
.sb2 .sound.cap,
.sb2 .sound.boolean,
.sb2 .sound.reporter,
.sb2 .sound.embedded,
.sb2 .sound.variable-reporter,
.sb2 .sound.custom-arg,
.sb2 .sound.outline {
  background-color: #bb42c3;
  border-color: #c45ccb #852f8b #852f8b #c45ccb;
}
.sb2 .sound > .dropdown,
.sb2 .sound > .boolean.empty,
.sb2 .sound > .color {
  background: #ac3cb3;
  border-color: #68246d #bc61c1 #bc61c1 #68246d;
}
.sb2 .sound > .dropdown:after,
.sb2 .sound > .boolean.empty:after,
.sb2 .sound > .color:after {
  color: #451848;
}
.sb2 .sound > .ring-inner {
  background-color: #ffffff;
  border-color: #852f8b #c45ccb #c45ccb #852f8b;
}
.sb2 .sound > .ring-inner:before {
  border-color: #c45ccb #852f8b #852f8b #c45ccb;
}
.sb2 .sound.hat:before {
  border-right-color: #c45ccb;
}
.sb2 .sound > .stack:before {
  background: #bb42c3;
}
.sb2 .sound.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .variables.stack:before,
.sb2 .variables.cap:before {
  border-color: #c36612 #f08d33 #f08d33 #c36612;
}
.sb2 .variables.cmouth:before,
.sb2 .variables.hat,
.sb2 .variables.hat:before,
.sb2 .variables.define-hat,
.sb2 .variables.stack,
.sb2 .variables.cap,
.sb2 .variables.boolean,
.sb2 .variables.reporter,
.sb2 .variables.embedded,
.sb2 .variables.variable-reporter,
.sb2 .variables.custom-arg,
.sb2 .variables.outline {
  background-color: #ee7d16;
  border-color: #f08d33 #c36612 #c36612 #f08d33;
}
.sb2 .variables > .dropdown,
.sb2 .variables > .boolean.empty,
.sb2 .variables > .color {
  background: #da7214;
  border-color: #934d0d #e48836 #e48836 #934d0d;
}
.sb2 .variables > .dropdown:after,
.sb2 .variables > .boolean.empty:after,
.sb2 .variables > .color:after {
  color: #572d08;
}
.sb2 .variables > .ring-inner {
  background-color: #ffffff;
  border-color: #c36612 #f08d33 #f08d33 #c36612;
}
.sb2 .variables > .ring-inner:before {
  border-color: #f08d33 #c36612 #c36612 #f08d33;
}
.sb2 .variables.hat:before {
  border-right-color: #f08d33;
}
.sb2 .variables > .stack:before {
  background: #ee7d16;
}
.sb2 .variables.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .custom-arg.stack:before,
.sb2 .custom-arg.cap:before {
  border-color: #423584 #6857b8 #6857b8 #423584;
}
.sb2 .custom-arg.cmouth:before,
.sb2 .custom-arg.hat,
.sb2 .custom-arg.hat:before,
.sb2 .custom-arg.define-hat,
.sb2 .custom-arg.stack,
.sb2 .custom-arg.cap,
.sb2 .custom-arg.boolean,
.sb2 .custom-arg.reporter,
.sb2 .custom-arg.embedded,
.sb2 .custom-arg.variable-reporter,
.sb2 .custom-arg.custom-arg,
.sb2 .custom-arg.outline {
  background-color: #5947b1;
  border-color: #6857b8 #423584 #423584 #6857b8;
}
.sb2 .custom-arg > .dropdown,
.sb2 .custom-arg > .boolean.empty,
.sb2 .custom-arg > .color {
  background: none;
  border-color: none none none none;
}
.sb2 .custom-arg > .dropdown:after,
.sb2 .custom-arg > .boolean.empty:after,
.sb2 .custom-arg > .color:after {
  color: none;
}
.sb2 .custom-arg > .ring-inner {
  background-color: #ffffff;
  border-color: #423584 #6857b8 #6857b8 #423584;
}
.sb2 .custom-arg > .ring-inner:before {
  border-color: #6857b8 #423584 #423584 #6857b8;
}
.sb2 .custom-arg.hat:before {
  border-right-color: #6857b8;
}
.sb2 .custom-arg > .stack:before {
  background: #5947b1;
}
.sb2 .custom-arg.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .extension.stack:before,
.sb2 .extension.cap:before {
  border-color: #353444 #646376 #646376 #353444;
}
.sb2 .extension.cmouth:before,
.sb2 .extension.hat,
.sb2 .extension.hat:before,
.sb2 .extension.define-hat,
.sb2 .extension.stack,
.sb2 .extension.cap,
.sb2 .extension.boolean,
.sb2 .extension.reporter,
.sb2 .extension.embedded,
.sb2 .extension.variable-reporter,
.sb2 .extension.custom-arg,
.sb2 .extension.outline {
  background-color: #4b4a60;
  border-color: #646376 #353444 #353444 #646376;
}
.sb2 .extension > .dropdown,
.sb2 .extension > .boolean.empty,
.sb2 .extension > .color {
  background: #454458;
  border-color: #2a2935 #686778 #686778 #2a2935;
}
.sb2 .extension > .dropdown:after,
.sb2 .extension > .boolean.empty:after,
.sb2 .extension > .color:after {
  color: #1b1b23;
}
.sb2 .extension > .ring-inner {
  background-color: #ffffff;
  border-color: #353444 #646376 #646376 #353444;
}
.sb2 .extension > .ring-inner:before {
  border-color: #646376 #353444 #353444 #646376;
}
.sb2 .extension.hat:before {
  border-right-color: #646376;
}
.sb2 .extension > .stack:before {
  background: #4b4a60;
}
.sb2 .extension.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .grey.stack:before,
.sb2 .grey.cap:before {
  border-color: #656565 #b7b7b7 #b7b7b7 #656565;
}
.sb2 .grey.cmouth:before,
.sb2 .grey.hat,
.sb2 .grey.hat:before,
.sb2 .grey.define-hat,
.sb2 .grey.stack,
.sb2 .grey.cap,
.sb2 .grey.boolean,
.sb2 .grey.reporter,
.sb2 .grey.embedded,
.sb2 .grey.variable-reporter,
.sb2 .grey.custom-arg,
.sb2 .grey.outline {
  background-color: #969696;
  border-color: #b7b7b7 #656565 #656565 #b7b7b7;
}
.sb2 .grey > .dropdown,
.sb2 .grey > .boolean.empty,
.sb2 .grey > .color {
  background: #717171;
  border-color: #434343 #b8b8b8 #b8b8b8 #434343;
}
.sb2 .grey > .dropdown:after,
.sb2 .grey > .boolean.empty:after,
.sb2 .grey > .color:after {
  color: #393939;
}
.sb2 .grey > .ring-inner {
  background-color: #ffffff;
  border-color: #656565 #b7b7b7 #b7b7b7 #656565;
}
.sb2 .grey > .ring-inner:before {
  border-color: #b7b7b7 #656565 #656565 #b7b7b7;
}
.sb2 .grey.hat:before {
  border-right-color: #b7b7b7;
}
.sb2 .grey > .stack:before {
  background: #969696;
}
.sb2 .grey.cmouth > .stack:before {
  background: #ffffff;
}
.sb2 .script * {
  background: red;
}
.sb2 .stack,
.sb2 .reporter,
.sb2 .embedded,
.sb2 .hat,
.sb2 .define-hat,
.sb2 .boolean {
  background-color: #d42828;
  border-color: #da4646 #971c1c #971c1c #da4646;
}
.sb2 .script {
  margin-top: 15px;
  display: block;
  float: none;
}
.sb2 .script:first-child {
  margin-top: 0;
}
.sb2 .script:after {
  content: "";
  display: block;
  clear: both;
}
.sb2 .script > *,
.sb2 .cwrap,
.sb2 .cwrap > *,
.sb2 .cmouth,
.sb2 .cmouth > * {
  float: left;
  clear: both;
}
.sb2 .script > .comment {
  clear: none;
}
.sb2 div {
  display: inline-block;
}
.sb2 .hat,
.sb2 .define-hat,
.sb2 .stack,
.sb2 .cap,
.sb2 .boolean,
.sb2 .reporter,
.sb2 .dropdown {
  border: 2px solid;
}
.sb2 .stack,
.sb2 .cap,
.sb2 .cwrap,
.sb2 .cmouth {
  border-top-width: 1px;
}
.sb2 .stack,
.sb2 .cap,
.sb2 .hat,
.sb2 .define-hat {
  padding: 2px 4px;
  min-height: 16px;
  line-height: 16px;
}
.sb2 .stack > *,
.sb2 .cap > *,
.sb2 .hat > *,
.sb2 .define-hat > * {
  line-height: 10px;
}
.sb2 .stack,
.sb2 .cap {
  min-width: 36px;
  min-height: 23px;
}
.sb2 .stack,
.sb2 .cap,
.sb2 .outline {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.sb2 .stack,
.sb2 .cap,
.sb2 .hat,
.sb2 .define-hat {
  position: relative;
}
.sb2 .stack:before,
.sb2 .cap:before {
  content: "";
  position: absolute;
  left: 11px;
  width: 15px;
  height: 4px;
  border: inherit;
  border-top: none;
  border-width: 1px;
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  top: -1px;
}
.sb2 .stack:after,
.sb2 .hat:after,
.sb2 .define-hat:after {
  content: "";
  position: absolute;
  left: 12px;
  width: 13px;
  height: 5px;
  border: inherit;
  border-top: none;
  background: inherit;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  bottom: -5px;
  z-index: 101;
}
.sb2 .cap:after {
  content: none;
}
.sb2 .cwrap.cap {
  border: 0;
  padding: 0;
  background: none;
}
.sb2 .cwrap.cap > * {
  line-height: 16px;
}
.sb2 .cwrap > .cend.capend:before,
.sb2 .cwrap > .celse.capend:before {
  content: none;
}
.sb2 .cwrap.cap > .cend:after {
  content: none;
}
.sb2 .cwrap > .cstart:after,
.sb2 .cwrap > .celse:after {
  left: 26px;
}
.sb2 .cwrap > .cend:before,
.sb2 .cwrap > .celse:before {
  left: 25px;
}
.sb2 .script > .hat,
.sb2 .script > .define-hat {
  float: left;
}
.sb2 .hat,
.sb2 .define-hat {
  position: relative;
  padding: 4px;
  border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  margin-top: 15px;
  min-width: 100px;
}
.sb2 .hat:before,
.sb2 .define-hat:before {
  content: "";
  position: absolute;
  height: 13px;
  width: 80px;
  top: -13px;
  left: -2px;
  background: inherit;
  border-width: inherit;
  border-style: inherit;
  border-bottom: none;
  border-radius: 40px 40px 0 0 / 13px 13px 0 0;
  -webkit-border-radius: 40px 40px 0 0 / 13px 13px 0 0;
  -moz-border-radius: 40px 40px 0 0 / 13px 13px 0 0;
  border-top-width: 2px;
}
.sb2 .define-hat {
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  margin-top: 18px;
  padding-top: 0;
  padding-bottom: 2px;
}
.sb2 .define-hat:before {
  border-color: #8e2ec2;
  border-top-width: 4px;
  height: 18px;
  margin-top: -15px;
  top: -3px;
  width: auto;
  left: -4px;
  right: -4px;
  border-radius: 50% 50% 3px 3px / 16px 16px 3px 3px;
  -webkit-border-radius: 50% 50% 3px 3px / 16px 16px 3px 3px;
  -moz-border-radius: 50% 50% 3px 3px / 16px 16px 3px 3px;
}
.sb2 .define-hat .reporter,
.sb2 .define-hat .boolean {
  line-height: 10px;
}
.sb2 .outline {
  padding: 2px 4px 2px 4px;
  min-width: 29px;
  line-height: 16px;
  min-height: 16px;
  border: 2px solid #8257ad;
  margin-left: 5px;
  margin: 4px 0 4px 5px;
  position: relative;
  background: #632d99;
  vertical-align: middle;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.sb2 .outline:before {
  top: -2px;
}
.sb2 .outline:after {
  bottom: -5px;
}
.sb2 .outline:before,
.sb2 .outline:after {
  content: "";
  position: absolute;
  left: 11px;
  width: 15px;
  height: 5px;
  border: inherit;
  border-top: none;
  background: inherit;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
}
.sb2 .cwrap {
  background: #ffffff;
  display: block;
}
.sb2 .cwrap .cstart {
  border-radius: 4px 4px 4px 0;
  -webkit-border-radius: 4px 4px 4px 0;
  -moz-border-radius: 4px 4px 4px 0;
  min-width: 60px;
}
.sb2 .cwrap .cmouth {
  background: #ffffff;
  display: block;
  position: relative;
}
.sb2 .cwrap .cmouth:empty {
  content: " ";
  min-height: 12px;
}
.sb2 .cwrap .cmouth:before {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  content: "";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 2px 0 2px;
  width: 10px;
  height: 100%;
  margin: -2px 0 0;
  padding: 2px 0 1px;
  z-index: 102;
}
.sb2 .cwrap .cmouth > div {
  margin-left: 14px;
}
.sb2 .cwrap .celse {
  min-width: 60px;
  position: relative;
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
}
.sb2 .cwrap .cend {
  min-height: 16px;
  min-width: 60px;
  border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
}
.sb2 .cwrap .cend span {
  display: none;
}
.sb2 .color {
  border: 1px solid;
  width: 11px;
  height: 11px;
  padding: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.sb2 .number,
.sb2 .number-dropdown,
.sb2 .string,
.sb2 .dropdown {
  font-weight: normal;
}
.sb2 .number,
.sb2 .number-dropdown,
.sb2 .string {
  background: #fff;
  color: #000;
  border: 1px solid #a59e97;
  border-color: #777 #fff #fff #777;
  padding: 1px 4px;
}
.sb2 .string {
  padding: 2px;
}
.sb2 .number,
.sb2 .number-dropdown {
  border-radius: 10px;
}
.sb2 .dropdown,
.sb2 .string {
  border-style: solid;
  border-width: 1px;
}
.sb2 .dropdown {
  padding: 1px 2px;
}
.sb2 .dropdown:after,
.sb2 .number-dropdown:after {
  content: "▼";
  font-size: 8px;
  padding: 0 0 0 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.sb2 .number-dropdown:after {
  color: #666666;
  padding-left: 2px;
}
.sb2 .embedded,
.sb2 .boolean {
  border: 2px solid;
  padding: 2px 4px;
}
.sb2 .reporter {
  padding: 3px 6px;
  border-width: 2px;
  min-width: 16px;
  min-height: 20px;
}
.sb2 .reporter,
.sb2 .embedded,
.sb2 .boolean {
  border-radius: 2000px;
  -webkit-border-radius: 2000px;
  -moz-border-radius: 2000px;
}
.sb2 .arrow-cw,
.sb2 .arrow-ccw {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  width: 16px;
  height: 13px;
  background: url(block_images/arrows.png) 0 0 no-repeat;
}
.sb2 .arrow-cw > span,
.sb2 .arrow-ccw > span {
  display: none;
}
.sb2 .arrow-ccw {
  background-position: 0 -13px;
}
.sb2 .green-flag {
  display: inline-block;
  padding: 0;
  vertical-align: bottom;
  margin: 0 2px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: url(block_images/flag.png) 0 0 no-repeat;
  background-size: contain;
}
.sb2 .comment {
  background: #ffffff;
}
.sb2 .comment div {
  margin: 4px 0 1px 1px;
  background: #ffffd2;
  border: 1px solid #d0d1d2;
  color: #505050;
  line-height: 1.25em;
  padding: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  z-index: 103;
}
.sb2 .comment.attached {
  position: relative;
  margin-left: 0 !important;
  clear: none;
}
.sb2 .comment.attached.to-hat {
  margin-top: 16px;
}
.sb2 .comment.attached.to-define-hat {
  margin-top: 26px;
}
.sb2 .comment.attached.to-reporter {
  top: -2px;
}
.sb2 .comment.attached div {
  position: absolute;
  margin: 0;
}
.sb2 .comment.attached div:hover {
  background: rgba(255, 255, 210, 0.6);
}
.sb2 .comment.attached:before {
  content: "";
  display: block;
  float: left;
  margin-top: 10px;
  height: 2px;
  width: 32px;
  background: #ffff80;
}
.sb2.inline-block {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-bottom: 5px;
}
.sb2.inline-block .script {
  display: inline-block;
}
.sb2.inline-block .script > .stack {
  margin-top: 2px;
}
.sb2.inline-block .hat,
.sb2.inline-block .define-hat {
  margin-bottom: 14px;
}
.sb2.inline-block .outline {
  min-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}
.sb2 .boolean,
.sb2 .reporter,
.sb2 .number,
.sb2 .string {
  vertical-align: middle;
}
.sb2 .string {
  min-width: 8px;
  min-height: 16px;
}
.sb2 .number {
  min-width: 14px;
  min-height: 14px;
}
.sb2 .color {
  vertical-align: middle;
  margin-bottom: 2px;
}
.sb2 * {
  float: none;
}
.sb2 .boolean.empty,
.sb2 .stack.empty {
  height: 16px;
  width: 27px;
  padding: 0;
  vertical-align: middle;
}
.sb2 .grey > .ring-inner > .empty.stack,
.sb2 .grey > .ring-inner > .number.stack,
.sb2 .grey > .ring-inner > .empty.boolean,
.sb2 .grey > .ring-inner > .number.boolean,
.sb2 .grey > .ring-inner > .empty.reporter,
.sb2 .grey > .ring-inner > .number.reporter,
.sb2 .grey > .ring-inner > .empty.number,
.sb2 .grey > .ring-inner > .number.number {
  background: #ffffff;
  border-color: #ffffff;
  min-width: 27px;
}
.sb2 .grey > .ring-inner > .empty.stack:before,
.sb2 .grey > .ring-inner > .number.stack:before,
.sb2 .grey > .ring-inner > .empty.boolean:before,
.sb2 .grey > .ring-inner > .number.boolean:before,
.sb2 .grey > .ring-inner > .empty.reporter:before,
.sb2 .grey > .ring-inner > .number.reporter:before,
.sb2 .grey > .ring-inner > .empty.number:before,
.sb2 .grey > .ring-inner > .number.number:before {
  background: #ffffff;
  border-color: #ffffff;
}
.sb2 .grey > .ring-inner > .empty.stack,
.sb2 .grey > .ring-inner > .number.stack {
  min-width: 36px;
  height: 10px;
}
.sb2 .grey > .ring-inner > .empty.stack:after,
.sb2 .grey > .ring-inner > .number.stack:after {
  content: none;
}
.sb2 .grey > .ring-inner:after {
  content: none;
}
.sb2 .ring-inner {
  vertical-align: middle;
  padding: 0;
  float: none;
  border-radius: 7px;
}
.sb2 .ring-inner.reporter,
.sb2 .ring-inner.boolean,
.sb2 .ring-inner.embedded {
  border-radius: 15px;
}
.sb2 .ring-inner.reporter > *,
.sb2 .ring-inner.boolean > *,
.sb2 .ring-inner.embedded > * {
  border-radius: 13px;
}
.sb2 .ring-inner > * {
  line-height: 16px;
}
.sb2 .ring-inner:before {
  z-index: 1;
  left: 14px;
  width: 13px;
  height: 4px;
  border-radius: 0 0 3px 3px;
}
.sb2 .ring {
  vertical-align: middle;
  border-radius: 11px;
  padding: 1px;
}
.sb2 .arrow {
  background: none;
  font-size: 8px;
  color: #000000;
}
.sb2 .arrow:nth-last-child(2) {
  padding-left: 2px;
}