table {
    width: 100%;
}

table th {
    text-align: left;
    border-bottom: 1px solid black;
    margin-bottom: 220px;
}

.task img, .warn img, img.responsive {
    max-width:100%;
    max-height:100%;
}

.task {
    border: 2px dashed red;
    margin-bottom: 5px;
    padding: 5px;
}

.task > .header {
    text-align: center;
    text-size: 5em;
}

.warn {
    border: 2px dashed orange;
    margin-bottom: 5px;
    background-color: yellow;
    padding: 5px;
}

[class*='col-'] {
    float: left;
}

.col-2-3 {
    width: 66.66%;
}
.col-1-3 {
    width: 33.33%;
}
.col-1-2 {
    width: 50%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-family: 'Press Start 2P', cursive;
} 

h1 a {
    text-decoration: none;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.stacked img {
    position: absolute;
}

.stacked > img:nth-child(2):hover {
    z-index: -1;
}

.stacked img:hover:first-child {
    z-index: 2;
}

