---
name: "Kollisionen - Leben"
scratch:
  id: 54920738
description: >
  <p>
    Möchte man mit <strong>Leben</strong> arbeiten, ist das prinzipielle Vorgehen ähnlich. Es braucht eine neue Variable <em>für alle Figuren</em>, die sich im Falle einer Kollision mit der Hauptfigur verstecken soll. Im Unterschied zum vorigen Beispiel werden dann aber Leben abgezogen, nicht Punkte addiert.
  </p>
  <p>
    Die Hauptfigur bewegt sich in diesem Beispiel nur noch, wenn die Anzahl der Leben größer ist als 0.
  </p>
---

{% include scratch-scene.html id=page.scratch.id %}
  
{{ page.description }}
