---
name: "Kollisionen - Punkte"
scratch:
  id: 53752110
description: >
  <p>
    Um den Spieler mit <strong>Punkten</strong> zu belohnen, müssen wir eine neue Variable <em>für alle Figuren</em> einfügen. Diese Variable wird zu Beginn des Spiels auf 0 gesetzt. Jedes mal wenn die Spielfigur eine andere Figur trifft, versteckt sich diese Figur und der Punktestand wird um einen Punkt erhöht.
  </p>
---

{% include scratch-scene.html id=page.scratch.id %}

{{ page.description }}
