---
layout: bootstrap
jumbotron: false
description: >
  Kurse für die Hacker-School
---
<h1>Programmieren ist Spannend!</h1>
<div class="row">
  <div class="col-md-9">
    <p>
      Auf dieser Seite finden sich von mir entwickelte Kursangebote, welche Schüler möglichst pragmatisch an die Programmierung heranführen sollen. Es handelt sich um eine mehr oder minder lose Sammlung an Beispielen, die ohne unmittelbare Begleitung vermutlich eher schwierig nachzuvollziehen sind. Ich stelle Sie online um "meinen" Schülern eine Möglichkeit zu geben, die in den Kursen erlernten Beispiele auch von zuhause aus nachvollziehen zu können.
    </p>
  </div>
  <div class="col-md-3">
    <a href="http://www.hacker-school.de/">
      <image src="{{site.baseurl}}/assets/hackerschool.jpg" class="img-responsive img-thumbnail" />
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">Webentwicklung</h2>
    <div class="row">
      <img src="{{site.baseurl}}/assets/jekyll-logo.png" height="150px" class="col-xs-offset-1 col-xs-7" />
      <img src="{{site.baseurl}}/assets/html-logo.svg" height="150px" class="col-xs-3" />
    </div>
    <p>Dieser Kurs vermittelt Kenntnisse um auch komplexere Webseiten von Grund auf zu erstellen. Er verzichtet auf die Verwendung CMS Systemen wie Wordpress, Joomla!, ... und nutzt stattdessen <a href="http://jekyllrb.com/">Jekyll</a> um die Grundlage für eine blogähnliche Seite zu schaffen.</p>
    <a class="btn btn-block btn-large btn-primary" href="{{site.baseurl}}/jekyll/">Zum Kurs</a>
  </div>
  <div class="col-md-6">
    <h2 class="text-center">Spieleentwicklung mit Scratch</h2>
    <div class="row">
      <img src="{{site.baseurl}}/assets/scratch-cat.svg" height="150px" class="col-xs-3" />
      <img src="{{site.baseurl}}/assets/scratch-logo.svg" height="150px" class="col-xs-9" />
    </div>
    <p>Scratch ist eine interaktive Programmierumgebung, die sich besonders gut eignet um eine experimentierfreudige Herangehensweise an die Programmierung zu ermöglichen. Dieser Kurs erläutert die Entwicklung eines kleinen Geschicklichkeitsspiels.</p>
    <a class="btn btn-block btn-large btn-primary" href="{{site.baseurl}}/scratch/">Zum Kurs</a>
  </div>
</div>
