---
layout: bootstrap
permalink: /jekyll/index.html
---
<h1 class="text-center">Webentwicklung mit HTML und Jekyll</h1>
<div class="row">
  <img src="{{site.baseurl}}/assets/jekyll-logo.png" class="img-responsive col-xs-offset-3 col-xs-4" />
  <img src="{{site.baseurl}}/assets/html-logo.svg" class="col-xs-2" />
</div>


<p>
  Diese Webseite ist eine (unfertige) Sammlung von Materialien zur Webentwicklung mit HTML im Allgemeinen und zum Umgang mit dem <a href="http://jekyllrb.com/">Site Generation Tool "Jekyll"</a> im Speziellen. Die Einheiten unter "Grundlagen" sollten in der vorgesehenen Reihenfolge bearbeitet werden, danach kann man sich je nach Interesse in spezielle Themengebiete vertiefen.
</p>

<p>
  Diese Sammlung ist nicht in erster Linie zum autodidaktischen Lernen gedacht, sondern soll viel mehr von <a href="http://marcusriemer.de/">mir</a> gehaltene Veranstaltungen zum Themenkomplex "Webentwicklung" unterstützen. Der Stil der einzelnen Lektionen ist oft eher knapp, weil die Inhalte nur als Gedankenstütze zum eigentlichen Kursangebot fungieren sollen. Die entsprechenden Kurse werden momentan in Kooperation mit Schulen oder der <a href="http://www.hacker-school.de">Hacker-School</a> an der <a href="http://www.fh-wedel.de/">Fachhochschule Wedel</a> angeboten.
</p>

<h2>Erste Schritte</h2>
<p>
  Diese Lektionen bilden die Grundlagen für alle weiteren Lektionen und sollten auch in der hier angegebenen Reihenfolge bearbeitet werden.
</p>
<ul>
{% for post in site.first_steps %}
  <li>
    <h3>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <p>
      {{ post.description }}
    </p>
  </li>
{% endfor %}
</ul>

<h2>Grundlagen der Programmierung</h2>
<p>
   HTML habt Ihr nun schon kennengelernt, die Seiten sind euch aber alle zu simpel? Dann werden euch diese Lektionen einen groben Einblick in die Programmierung mit dem Liquid HTML Templating System.
</p>
<ul>
{% for post in site.programming %}
  <li>
    <h3>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <p>
      {{ post.description }}
    </p>
  </li>
{% endfor %}
</ul>


<h2>Änderungen am Design</h2>
<p>
  HTML habt Ihr nun schon kennengelernt, die Seiten sehen momentan aber alle noch zu langweilig aus? Dann werft einen genaueren Blick auf diese Lektionen, Sie vermitteln einen grundsätzlichen Einblick in die Gestaltung mit CSS.
</p>
<ul>
{% for post in site.basic_design %}
  <li>
    <h3>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <p>
      {{ post.description }}
    </p>
  </li>
{% endfor %}
</ul>

<h2>Umgang mit Web-Frameworks</h2>
<p>
  HTML habt Ihr nun schon kennengelernt, aber irgendwie sieht das alles trotz ein paar eigener CSS Stile noch zu spartanisch aus? Damit Ihr das Rad nicht immer wieder neu erfinden müsst, zeigen euch diese Lektionen wie Ihr einige der populären Web-Frameworks einbinden könnt.
</p>
<ul>
{% for post in site.frameworks %}
  <li>
    <h3>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <p>
      {{ post.description }}
    </p>
  </li>
{% endfor %}
</ul>

<h2>Relevante Tools</h2>
<p>
  Es gibt eine fast unüberschaubare Anzahl an Programmen, die Entwicklern das Leben leichter machen können. In diesen Lektionen werden ein paar Tools herausgegriffen, die eure Seiten vielleicht nicht direkt beinflussen, aber in keinem "Werkzeugkasten" fehlen sollten.
</p>
<ul>
{% for post in site.tools %}
  <li>
    <h3>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <p>
      {{ post.description }}
    </p>
  </li>
{% endfor %}
</ul>

<h2>Veröffentlichung der Website</h2>
<p>
  Bisher könnt ihr auf die Seite nur von eurem eigenen Rechner mit der <a href="http://localhost:4000"><code>http://localhost:4000</code></a> URL zugreifen. Wenn andere Personen auch was von eurer Seite sehen sollen, braucht ihr dafür einen Webhoster. Dieser kostet im Normalfall Geld, ein paar kostenlose und auch kostenpflichtige Möglichkeiten möchte Ich hier aber vorstellen.
</p>
<ul>
{% for post in site.publish %}
  <li>
    <h3>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <p>
      {{ post.description }}
    </p>
  </li>
{% endfor %}
</ul>

<h2>Praxisbeispiele</h2>
<p>
  Hier werden einige Ideen beschrieben, die man mit verschiedenen Kenntnissständen umsetzen könnte. Optimalerweise wächst dieser Bereich, indem Ihr eigene Vorschläge macht.
</p>

<ul>
{% for post in site.examples %}
  <li>
    <h3>
      {{ post.title }}
    </h3>
    <p>
      {{ post.description }}
    </p>
  </li>
{% endfor %}
</ul>
