---
layout: scratch
permalink: scratch/hasenwinkel/index.html
---
<h2>
  Liebe Teilnehmer des You & Ei II Camps!
</h2>

<div class="row">
  <div class="col-sm-9">
    <p>
      Wir hoffen, dass ihr eine gute Heimfahrt hattet und noch viele weitere Eier gefunden habt. Auf dieser Seite haben wir einmal die Scratch Projekte von allen Laptops für euch zum Download gesammelt. Leider haben nicht alle Teilnehmer ihre Projekte mit Namen versehen (und leider haben wir darauf auch nicht deutlich genug hingewiesen), so dass ihr möglicherweise ein bisschen suchen müsst.
    </p>

    <p class="text-center">
      <a class="btn btn-large btn-primary" href="/static/data/2015-hackerschool-hasenwinkel.zip">Download der Projekte</a>
    </p>

    <p>
      Solltet ihr weiter mit Scratch arbeiten wollen, legt euch am besten eigene Konten auf der Seite des <a href="https://scratch.mit.edu/">Scratch Projektes</a> an. Dort könnt ihr eure Ergebnisse auch wunderbar einfach mit anderen Leuten teilen. Solltet Ihr noch Fragen haben, wendet euch gerne per Mail an Marcus (<code>mri@fh-wedel.de</code>) oder <a href="http://marcusriemer.de/contact">kontaktiert ihn auf anderen Wegen</a>.
    </p>

    <p>
      Und wenn ihr neugierig aufs Programmieren geworden seit, werft doch mal einen Blick auf die künftigen Angebote der <a href="http://www.hacker-school.de/">Hacker School</a>. Im Sommer startet dort die nächste Runde mit vielen verschiedenen Angeboten um Minecraft, Webentwicklung, Scratch, ...
    </p>

    <p>Viel Spaß beim Hacken wünschen euch</p>
    
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <h3>Imke, Solvey & Marcus</h3>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <a href="http://www.hacker-school.de/">
      <img src="http://www.hacker-school.de/main/assets/images/main/logo.png">
    </a>
  </div>
</div>
