---
layout: scratch
permalink: scratch/index.html
---

<h1 class="text-center">Spieleprogrammierung mit Scratch</h1>
<div class="row">
  <div class="col-xs-8 col-xs-offset-3">
    <ul class="list-inline">
      <li><img src="{{site.baseurl}}/assets/scratch-cat.svg" height="130px"/></li>
      <li><img src="{{site.baseurl}}/assets/scratch-logo.svg" height="130px"/></li>
    </ul>
  </div>
</div>
<p>
  Thema dieser Hacker-School ist die Erstellung eines einfachen Geschicklichkeitsspiels, bei dem der Spieler verschiedenen Hindernissen oder Gegnern ausweichen muss um möglichst viele Münzen, Sterne, Ostereier oder was auch immer zu sammeln. Ihr werdet sehen auf wie viele Arten und Weisen man dieses einfache Thema variieren kann und an welchen Stellschrauben man drehen muss, damit das Spiel auch Spaß macht.
</p>

<div class="row">
  <div class="col-md-6">
    <h2>Schritt für Schritt zum Spiel</h2>
    <p>
      <ol>
        <li>
          <h3>Die Hauptfigur</h3>
          <p>Wir schauen uns an wie man eine Figur in Scratch anlegt und bewegen Sie über den Bildschirm. Für jedes Spiel das wir hier programmieren, wird es immer genau eine Hauptfigur geben, daher ist die Art auf die sie sich bewegt elementarer Bestandteil eures Spiels.</p>
        </li>
        <li>
          <h3>Kollisionen mit anderen Figuren</h3>
          <p>Wenn die Hauptfigur andere Figuren berührt soll darauf reagiert werden. Je nach Art der Figur möchte man möglicherweise Punkte vergeben, Texte anzeigen, das Spiel beenden ... Diese Art der Interaktion bestimmt euer Spielkonzept: Bei einem Rennspiel müssen bestimmte Figuren der Reihe nach "angefahren" werden, bei einem Labyrinthspiel vermieden werden ...</p>
        </li>
        <li>
          <h3>Zufälliges erzeugen von Figuren</h3>
          <p>Bisher ist unser Spiel noch ziemlich statisch, wir wollen jetzt an zufälligen Orten in der Spielwelt Figuren verteilen. Damit das nicht zu unübersichtlich wird, schauen wir uns an was Scratch unter dem Konzept von "Klonen" versteht.</p>
        </li>
        <li>
          <h3>Spielen auf Zeit</h3>
          <p>Zeitdruck ist eine der einfachsten Möglichkeiten, einem Spiel Wettbewerbscharakter zu verleihen. Und Wettbewerb ist eine typische Methode um ein kurzes Spiel interessant zu gestalten.</p>
        </li>
        <li>
          <h3>Mehrere Bildschirme</h3>
          <p>Euer Spiel sollte im Normalfall mindestens zwei Bildschirme haben: Einen für das eigentliche Spiel, einen für die Punkteanzeige. Wer mag kann aber auch einen "Ladebildschirm" dazupacken, auf dem das Spiel kurz erklärt wird.</p>
        </li>
      </ol>
    </p>

    <h2>Kurze Tipps</h2>
    <ol>
      <li>
        <h3>Verschiedene Arten von Gegnern</h3>
        <p>Bisher sind die Gegner recht langweilig immer am gleichen Ort geblieben. Wir möchten jetzt ein paar schlauere Gegner hinzufügen.</p>
      </li>
    </ol>
  </div>
  <div class="col-md-6">
    <h2>Beispielspiele</h2>
    {% include scratch-example-excerpt.html name="Spiel 1" %}
    {% include scratch-example-excerpt.html name="Spiel 2" %}
  </div>
</div>

<h1>Das Basisspiel</h1>
<h2>Die Bewegung der Hauptfigur</h2>
<p>Wenn wir mit der Tastatur arbeiten, unterscheiden wir zwischen zwei verschiedenen Arten von Bewegung: Absolut und relativ.</p>
<div class="row">
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Bewegung - Absolut" %}
  </div>
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Bewegung - Relativ" %}
  </div>
</div>

<h2>Kollisionen mit Figuren</h2>
<p>Nur zum Selbstzweck mit der Hauptfigur umherzulaufen ist nicht besonders spannend. In diesem Abschnitt sorgen wir für ein paar Interaktionen mit anderen Figuren.</p>
<div class="row">
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Kollisionen - Punkte" %}
  </div>
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Kollisionen - Leben" %}
  </div>
</div>

<h2>Zufälliges erzeugen von Figuren</h2>
<p>Auch wenn man von Scratch dazu verleitet wird bestimmte Figuren einfach mitsamt Ihrem Quellcode zu kopieren, ist es meistens geschickter mit den Funktionen zum Klonen von Figuren zu arbeiten. Man sieht dann zwar im Editor nicht mehr, wo welche Figur auftauchen wird, kann den Spieler dann aber mit immer neuen Varianten überraschen.</p>
<div class="row">
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Spawnen - Zufällig" %}
  </div>
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Spawnen - Punkte" %}
  </div>
</div>

<h2>Spielen mit Zeit</h2>
<p>Aktuell sind unsere Spiele keine sehr große Herausforderung. Wir fügen einen Zeitfaktor hinzu, um für ein bisschen Hektik zu Sorgen ...</p>
<div class="row">
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Zeit - Endlos" %}
  </div>
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Zeit - Limitiert" %}
  </div>
</div>

<h2>Mehrere Bildschirme</h2>
<p></p>
<div class="row">
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Bühnen - Highscore" %}
  </div>
  <div class="col-md-6">
  
  </div>
</div>

<h1>Kurze Tipps</h1>
<div class="row">
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Bewegung - Beschleunigung" %}
  </div>
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Powerups - Geschwindigkeit" %}
  </div>
</div>
