---
layout: scratch_detail
permalink: scratch/games/index.html
name: Beispielspiele
---
<div class="row">
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Spiel 1" %}
  </div>
  <div class="col-md-6">
    {% include scratch-example-excerpt.html name="Spiel 2" %}
  </div>
</div>
