---
layout: bootstrap
description: 
permalink: /welcome/index.html
---

<ul class="list-group">
  <li class="list-group-item"><h3>Was für eine Webseite möchtet Ihr gerne bauen?</h3></li>
  <li class="list-group-item"><h3>Habt Ihr euch schon mit HTML beschäftigt?</h3></li>
</ul>

<div class="row">
  <div class="col-md-2">
    <img class="img-responsive" src="http://www.fh-wedel.de/fileadmin/mitarbeiter/mri/fhw_mri.jpg" />
  </div>
  <div class="col-md-7">
    <h1 class="pull-left">&#9668; Marcus</h1>
    <h1 class="pull-right">Malte &#9658;</h1>
    <div class="clearfix"></div>
    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/de/thumb/e/ef/Fh_wedel_logo.svg/500px-Fh_wedel_logo.svg.png" />
  </div>
  <div class="col-md-3">
    <img class="img-responsive" src="https://lh3.googleusercontent.com/-xlWyiCVhkT8/AAAAAAAAAAI/AAAAAAAABW0/CZZUsJEXXUk/s180-c-k-no/photo.jpg" />
  </div>
</div>
