{% for example in site.scratch %}
  {% if example.name == include.name %}
    
    {% include scratch-scene.html id=example.scratch.id %}
    
    {{ example.description }}

    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-block btn-large btn-primary" href="https://scratch.mit.edu/projects/{{example.scratch.id}}/">Scratch Projektseite</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-block btn-large btn-primary" href="/assets/scratch/projects/{{example.scratch.id}}.sb2">Download</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-block btn-large btn-primary" href="{{ example.url }}">Details</a>
      </div>
    </div>
  {% endif %}
{% endfor %}
