<div class="embed-responsive embed-responsive-4by3">
  {% if site.self_host_scratch %}
  <object data="/assets/scratch/scratch_v434.swf" height="100%" width="100%">
    <param name="flashvars" value="project=/assets/scratch/projects/{{include.id}}.sb2&autostart=false">
  </object>
  {% else %}
    <iframe allowtransparency="true" src="http://scratch.mit.edu/projects/embed/{{ include.id }}/?autostart=false" allowfullscreen></iframe>
  {% endif %}
</div>
