---
name: "Powerups - Geschwindigkeit"
scratch:
  id: 55332930
description: >
  <p>
    Neben Punkten könnte man den Spieler auch mit kleinen <strong>Powerups</strong> belohnen. Dieses Beispiel zeigt, wie man auf Knopfdruck einen kurzen Geschwindigkeitsboost auslöst und Powerups einsammelt.
  </p>
  <p>
    Programmiertechnisch im Vordergrund steht das Senden und Empfangen von Nachrichten, um auf zwei Seiten auf Ereignisse zu reagieren. Der Powerupblock (in diesem Beispiel das Ei), sendet die Nachricht "Speed" an alle und löscht sich dann selbst. Die Hauptfigur wartet auf die Nachricht "Speed" und erhöht dann die Anzahl der verfügbaren Boosts die mit einem Druck auf <kbd>Space</kbd> eingesetzt werden können.
  </p>
---

{% include scratch-scene.html id=page.scratch.id %}

{{ page.description }}
