---
name: "Spiel 1"
layout: scratch
scratch:
  id: 54930944
description: >
  <p>
    Sammle in der kurzen Zeit möglichst viele Früchte ein. Aber vorsicht, wer zu gierig ist und jeder neuen Frucht hinterherrennt, geht am Ende möglicherweise leer aus.
  </p>
---
{% include scratch-scene.html id=page.scratch.id %}
  
{{ page.description }}
    
<pre class="blocks">
when green flag clicked
repeat until <(Zeit Übrig) < [0]>
    set [Zeit Übrig v] to (round ((Maximale Zeit) - (timer)))
end
</pre>  
