---
name: "Spiel 2"
scratch:
  id: 55105124
description: >
  <p>
    Fahre drei Runden über einen Kurs mit etwas merkwürdiger Spielphysik ... Beschleunige mit <kbd>&uarr;</kbd>, lenke mit <kbd>&larr;</kbd> und <kbd>&rarr;</kbd>.
  </p>
---
{% include scratch-scene.html id=page.scratch.id %}
  
{{ page.description }}

<p>
  Die Steuerung der Hauptfigur in diesem Spiel ist dem Beispiel {% include scratch-example-link.html name="Bewegung - Beschleunigung" %} entnommen. Das Spiel funktioniert aber bestimmt auch gut mit anderen Arten der Bewegung.
</p>
