---
name: "Zeit - Endlos"
scratch:
  id: 54923146
description: >
  <p>
    Dieses Beispiel zeigt ein erstes <strong>Endlosspiel</strong>. Bisher haben wir einmal zu Beginn des Spiels Figuren erzeugt und sie erst wieder entfernt, sobald der Spieler sie berührt hat. Diese Variante erzeugt alle paar Sekunden eine neue Figur, die Ihrerseits aber wieder nach einigen Sekunden verschwindet.
  </p>
---

{% include scratch-scene.html id=page.scratch.id %}
  
{{ page.description }}
