---
name: "Zeit - Limitiert"
scratch:
  id: 54945048
description: >
  <p>
    Ganz endlos zu spielen ist dann vielleicht doch doof, wir wollen den Spieler nun auf die <strong>Jagd nach einem Highscore</strong> schicken. Dafür geben wir Ihm 30 Sekunden Zeit, in denen er so viele Punkte wie möglich erzielen soll.
  </p>
---

{% include scratch-scene.html id=page.scratch.id %}
  
{{ page.description }}
