<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>

    <link href="{{site.baseurl}}/css/syntax.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    {% for c in page.css-files %}
      <link href="{{ c | prepend: site.baseurl }}" type="text/css" rel="stylesheet" />
    {% endfor %}
        
    <!-- Bootstrap and it's theme -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/bootstrap-theme.min.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      {% if page.jumbotron %}
      <div class="jumbotron">
        <h1>{{ site.title }}</h1>
        <p>{{ page.description }}</p>
      </div>
      {% endif %}
      
      {{ content }}

    </div>

    <script src="{{site.baseurl}}/js/jquery-2.1.3.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
    {% for c in page.js-files %}
      <script src="{{ c | prepend: site.baseurl }}"></script>
    {% endfor %}
  </body>
</html>
