<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8"/>
    <link href="{{site.baseurl}}/css/syntax.css" type="text/css" rel="stylesheet" />
    <link href="{{site.baseurl}}/css/simple.css" type="text/css" rel="stylesheet" />
    <link href="{{site.baseurl}}/css/keyboard.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    {% for c in page.css-files %}
      <link href="{{ c | prepend: site.baseurl }}" type="text/css" rel="stylesheet" />
    {% endfor %}
    {% for j in page.js-files %}
      <script src="{{ j | prepend: site.baseurl }}" type="text/javascript"></script>
    {% endfor %}
  
  </head>
  <body>
    <h1>
      {% if (page.url != "/index.html") %}
      <a href="{{site.baseurl}}/">
        {{ site.title }}
      </a>
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    {{ content }}
  </body>
</html>
