---
layout: bootstrap
---
<div class="row">
  <div class="col-md-6">
    <h2>{{ page.name }}</h2>
  </div>
  <div class="col-md-6">
    <h2 class="pull-right"><a href="/scratch">Zurück zur Hauptseite</a></h2>
  </div>
</div>
{{ content }}
