---
name: "Bewegung - Absolut"
scratch:
  id: 53750294
description:
  <p>
    Bei der <strong>absoluten Bewegung</strong> können wir nur zwischen den vier verschiedenen Richtungen der Pfeiltasten unterscheiden. Drückt der Spieler eine Taste, zeigt die Spielfigur sofort in die entsprechende Richtung.
  </p>
  <p>
    Da wir mit exakt vier Richtungen arbeiten, ist es relativ einfach zwischen <em>vier verschiedenen Kostümen</em> für die jeweilige Richtung zu wechseln. Dadurch ist es möglich, eine Figur aus verschiedenen Perspektiven zu zeigen.
  </p>
  <div class="alert alert-info" role="alert">
    <strong>Wirklich nur vier Richtungen?!</strong> Nein, mit ein bisschen mehr Aufwand kann man auch das gleichzeitige drücken von zwei Tasten feststellen. Damit befassen wir uns aber erst zu einem späteren Zeitpunkt.
  </div>
---

{% include scratch-scene.html id=page.scratch.id %}

{{ page.description }}
