---
name: "Bewegung - Relativ"
scratch:
  id: 53749578
description: >
  <p>
   Bei der <strong>relativen Bewegung</strong> hängt die Veränderung der Bewegung von der Blickrichtung der Figur ab. Diese Art der Bewegung braucht nur zwei Tasten: Links und rechts.
  </p>
  <p>
    Die <em>Schrittweite</em> mit der die Figur gedreht wird sollte die Zahl 360 ganzzahlig teilen. Verwendet man eine Schrittweite die 360 nicht ganzzahlig teilt, kann der Benutzer die Figur nicht exakt an den vier Himmelsrichtungen ausrichten.
  </p>
  <p>
    Abhängig von der Schrittweite braucht diese Art der Bewegung möglicherweise zu viele verschiedene Kostüme, um jede Richtung sinnvoll darstellen zu können. Es empfiehlt sich daher nur ein einziges Kostüm zu verwenden, und es von Scratch drehen zu lassen.
  </p>
---

{% include scratch-scene.html id=page.scratch.id %}

{{ page.description }}
