---
name: "Bewegung - Beschleunigung"
scratch:
  id: 55090936
description: >
  <p>
   Dieses Beispiel simuliert <strong>relative Bewegung mit Beschleunigung</strong> und ist relativ komplex. Die größte Hürde sind dabei nicht die Formeln zur Beschleunigung, sondern der Umgang mit variabel großen Zeitschritten. Wir haben das Problem mit den Zeitschritten bisher dadurch umgangen, dass sich die Hauptfigur immer gleichmäßig bewegt hat und man für jede Drehung die entsprechende Taste erneut drücken musste.
  </p>
  <p>
    Ihr könnt dieses Beispiel ohne größere Umstände in eure eigenen Projekte übernehmen. Ersetzt einfach die Bewegungssteuerung eurer Hauptfigur durch den Code dieser Hauptfigur und sorgt dafür, dass die Stoppuhr gestartet wird.
  </p>
  <p>
    Für euer Projekt passende Werte für <code class="b">(Beschleunigung)</code>, <code class="b">(Lenkung)</code> und <code class="b">(Bremsen)</code> findet Ihr am besten durch Experimente mit diesem Beispiel heraus.
  </p>
---

{% include scratch-scene.html id=page.scratch.id %}

{{ page.description }}

<p>
  In diesem Beispiel verwenden wir nun die Variablen <code class="b">(Aktueller Zeitschritt)</code> und <code class="b">(Letzter Zeitschritt)</code> um das <code class="b">(Aktuelle Zeitdelta</code> zu berechnen. Dabei heraus kommt die Zeit, die seit dem letzten Frame vergangen ist. Wenn wir den Wert von <code class="b">(Aktuelles Zeitdelta)</code> mit der <code class="b">(Lenkung)</code> multiplizieren ist auch klar, in welcher Einheit wir diese Lenkung angeben: Die Anzahl an Grad, welche sich die Hauptfigur pro Sekunde drehen kann. Die Einheiten für Beschleunigung und Bremsen sind identisch: Die Modifikation der Geschwindigkeit pro Sekunde.
</p>
