---
name: "Spawnen - Zufällig"
scratch:
  id: 54919614
description: >
  <p>
    Bei dieser Variante werden alle Figuren <strong>komplett zufällig erzeugt</strong>, was manchmal zu ärgerlichen Problemen führt:
    <ul>
      <li>Sie entstehen "in" der Hauptfigur und geben einen Punkt ohne das der Spieler dafür etwas tun musste.</li>
      <li>Sie entstehen "ineinander".</li>
    </ul>
  </p>
---

{% include scratch-scene.html id=page.scratch.id %}

{{ page.description }}
