---
name: "Spawnen - Punkte"
scratch:
  id: 54928728
description: >
  <p>
    Um die Probleme des vorigen Beispiels zu umgehen, verwendet dieses Beispiel <strong>vordefinierte Spawnpunkte</strong>, die an Orten liegen denen der Spieler zu Beginn nicht zu nahe kommen kann.
  </p>
---

{% include scratch-scene.html id=page.scratch.id %}

{{ page.description }}
